{% extends 'base.html' %}
{% load static %}

{% block title %}All messages{% endblock title %}

{% block styel %}


{% endblock styel %}
 
{% block content %}
    <ul>
        {% for msg in messages %}
            <li>
                <div class='grid-elements'>
                    <a href={% url 'review_detail' pk=msg.id %}>
                        <h2>{{ msg.username|title }}</h2>
                        <p>{{ msg.message|truncatechars:20 }}</p>
                    <a/>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}