{% extends 'base.html' %}
{% load static %}

{% block title %}hello Django!{% endblock title %}

{% block style %}


{% endblock style %}

{% block content %}
    <span class='message'>Hello there {{ name|title }}!</span> It's {{ date | date:"d.m.Y" }} at {{ date | time:"H:i" }}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}

        <div class="form-control">
            {{ field.label_tag }}
            {{ field }}
        </div>

        {% endfor %}
        <button>Send</button>
    </form>
    <a href="{% url 'review_list' %}">all messages</a>
{% endblock content %}